@import "seattletimes";

header.intro {
  max-width: 600px;
  margin: auto;
  padding-bottom: 60px;

  h3 {
    display: block;
    max-width: 50%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid @df-light-gray;
    font-style: italic;
    color: @df-middle-gray;
    // text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 32px;
  }

  h1 {
    font-size: 76px;
    color: @st-dark-red;
    text-align: center;
  }
}

.quiz-body {
  max-width: 800px;
  margin: auto;

  h2 {
    margin-bottom: 8px;
  }

  .question {
    font-family: @df-sans;
    padding: 0 0 40px;
    border-bottom: 1px solid @df-light-gray;
  }

  .answer-text {
    padding: 30px 10px;
  }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.question.ready.answered {
  .answer-text {
    animation: 1s fade-in;
  }

  &.correctly .answer-text::before {
    content: "Correct! ";
    color: @st-dark-green;
  }
}

.question.ready:not(.answered) {
  .answer-text {
    display: none;
  }
}

.comment-container {
  max-width: 700px;
  margin: auto;
}

@import "graph";
@import "multiple-choice";