@import "seattletimes";

.quiz-body {
  max-width: 800px;
  margin: auto;

  h2 {
    margin-bottom: 0;
  }

  .question {
    font-family: @df-sans;
    padding: 0 0 20px;
  }

  .answer-text {
    padding: 30px 10px;
  }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.question.ready.answered {
  .answer-text {
    animation: 1s fade-in;
  }

  &.correctly .answer-text::before {
    content: "Correct! ";
    color: @st-dark-green;
  }
}

.question.ready:not(.answered) {
  .answer-text {
    display: none;
  }
}

@import "graph";
@import "multiple-choice";