<%
var width = 640;
var height = 320;
%><div class="graph question">
  <div class="question"><%= question %></div>
  <div class="graph-container">
    <svg class="graph"
      data-x="<%= data.map(d => d.x).join(",") %>"
      data-y="<%= data.map(d => d.y).join(",") %>"
      data-halt="<%= typeof afterimage == "undefined" ? "" : afterimage %>"
      width="<%= width %>"
      height="<%= height %>"
      preserveAspectRatio="none"
    >
    </svg>
  </div>
  <button class="compute" disabled="disabled">See results</button>
  <div class="answer-text">
    <div class="result"></div>
    <div class="blurb">
      <%= blurb %>
    </div>
  </div>
</div>