<%

json.questions.forEach(function(q) {
  switch (q.type) {
    case "multiple-choice":
      q.options = [];
      json.answers = json.answers.filter(function(a) {
        if (a.question == q.id) {
          q.options.push(a);
          return false;
        }
        return true;
      });
      break;
  
    case "graph":
      q.data = json[q.image];
      break;
  }
});

%><!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <main class="quiz-body">
      <% json.questions.forEach(function(q, i) { %>
        <h2>Question #<%= i + 1 %></h2>
        <%= t.include(`_${q.type}.html`, q) %>
      <% }) %>
    </main>

    <div class="comment-container">
      <%= t.include("partials/_comments.html", { article: "designer-app-1508195456578" }) %>
    </div>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
