<%

json.questions.forEach(function(q) {
  switch (q.type) {
    case "multiple-choice":
      q.options = [];
      json.answers = json.answers.filter(function(a) {
        if (a.question == q.id) {
          q.options.push(a);
          return false;
        }
        return true;
      });
      break;
  
    case "graph":
      q.data = json[q.image];
      break;
  }
});

%><!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="intro">

      <h3 class="tagline">
        <img src="./assets/gene.jpg">
        <span>Gene Balk | The FYI Guy</span>
      </h3>
      <div class="banner">
        <%= t.include("./assets/banner.svg") %>
      </div>
      <h1>The Newcomers</h1>
      <h2>How much do you know about Seattle’s newest residents?</h2>

      <p class="chatter">
        Where were you living one year ago? If you’re reading this in Seattle, there’s a good chance it was somewhere far away. More than 60,000 city residents — nearly one in 10 of us — moved here from outside King County within the past year.

      <p class="chatter">
        We’re the fastest-growing big city in the country right now, and all our newly arrived neighbors are reshaping Seattle. But how much do you know about them? Take our quiz and find out!

    </header>

    <main class="quiz-body">
      <% json.questions.forEach(function(q, i) { %>
        <h3 class="counter">Question <%= i + 1 %></h3>
        <h2 class="title"><%= q.title %></h2>
        <%= t.include(`_${q.type}.html`, q) %>
      <% }) %>

      <div class="score-block"></div>
    </main>

    <div class="comment-container">
      <%= t.include("partials/_comments.html", { article: "designer-app-1508195456578" }) %>
    </div>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
